USE_APPWRITE="" 				# Provide a value for USE_APPWRITE
APPWRITE_ENDPOINT="" 				# Provide a value for APPWRITE_ENDPOINT
APPWRITE_PROJECT_ID="" 				# Provide a value for APPWRITE_PROJECT_ID
APPWRITE_API_KEY="" 				# Provide a value for APPWRITE_API_KEY
API_URL="" 				# Provide a value for API_URL
FRONTEND_URL="" 				# Provide a value for FRONTEND_URL
BOT_API_URL="" 				# Provide a value for BOT_API_URL