# Appwrite Configuration
APPWRITE_ENDPOINT="" 				# Provide a value for APPWRITE_ENDPOINT
APPWRITE_PROJECT_ID="" 				# Provide a value for APPWRITE_PROJECT_ID

# Private API Key (Server-side only!)
APPWRITE_API_KEY="" 				# Provide a value for APPWRITE_API_KEY

# Bot API Configuration
BOT_API_URL="" 				# Provide a value for BOT_API_URL
